*.user
src/TreeMenu/obj
src/TreeMenu/bin
src/TreeMenu/App_Data
src/.idea
src/packages
src/TreeMenu/umbraco
src/TreeMenu/Config
src/TreeMenu/Web.config
src/.vs
*.nupkg
build/SimpleTreeMenu_*.zip
src/Website/bin
src/Website/obj
src/Website/Umbraco
src/Website/App_Data/cache
src/Website/App_Data/Logs
src/Website/App_Data/Models
src/Website/App_Data/TEMP
!src/Website/bin/Our.Umbraco.SimpleTreeMenu.dll
src/node_modules
release
src/WebsiteV9/wwwroot/App_Plugins
src/WebsiteV9/umbraco
src/Website/App_Data
