@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web;
@using Our.Umbraco.SimpleTreeMenu;
@{
    var site = Model.Root();

    var navigationModel = site.Value<IEnumerable<ISimpleTreeItem>>("navigation", defaultValue: new List<ISimpleTreeItem>());

    @:<!--<ul>-->


    foreach (var item in navigationModel)
    {

        var element = (IPublishedElement)item;
        var url = element.Value<IPublishedContent>("linkedContent")?.Url ?? element.Value<string>("linkedUrl") ?? "#";

        @:<!--<li>--><a class="nav-link" href="@url">@(element.Value<string>("title"))</a><!--</li>-->




        if (item.Children.Any())
        {
            @:<!--<ul>-->
                foreach (var child in item.Children)
                {
                    var cElement = (IPublishedElement)child;
                    var cUrl = cElement.Value<IPublishedContent>("linkedContent")?.Url ?? cElement.Value<string>("linkedUrl") ?? "#";
                    @:<!--<li>--><a class="nav-link" href="@cUrl">@(cElement.Value<string>("title"))</a><!--</li>-->
                }
            @:<!--</ul>-->
        }
    }

    @:<!--</ul>-->
}
